.navbar-brand{
    position: absolute;
    left: 46%;
}
.sidebar{
    width: 6rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    z-index: 2;
}
.sidebar-heading{
    margin-bottom: 0;
    padding: 1rem;
    color: #adb5bd;
    font-size: 22px;
    font-weight: bold;
}
.sidebar-link{
    display: block;
    padding-right: 0.2rem;
    text-decoration:none;
}
.page-holder{
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 100%;
}
.card-widget{
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50rem;
    padding: 1rem;
}